http:
  routers:
    {{ haos_name}}-http:
      entryPoints:
        - "web"
      rule: "Host(`{{ haos_web_url }}`)"
      middlewares:
        - globalHeaders
        - redirect-to-https@docker
#        - authelia@docker
        - gzip@docker
      service: "homeassistant"
    {{ haos_name}}:
      entryPoints:
        - "websecure"
      rule: "Host(`{{ haos_web_url }}`)"
      middlewares:
        - globalHeaders
        - secureHeaders
#        - authelia@docker
        - gzip@docker
      service: "{{ haos_name}}"
  services:
    {{ haos_name}}:
      loadBalancer:
        servers:
        - url: "http://172.19.0.1:8123"
